<div class="row">
    <div class="card mb-3">
        <img class="card-img-top" src="https://www.wikihow.com/images/thumb/e/e6/Format-a-PC-Step-4-Version-4.jpg/v4-728px-Format-a-PC-Step-4-Version-4.jpg.webp" >
        <div class="card-body">
       
          <H5>Formatter un pc</H5>
          <a href="https://fr.wikihow.com/formater-un-PC" class="btn btn-primary">Voir Lien</a>
        </div>
      </div>
    
      <div class="card mb-3">
        <img class="card-img-top" src="https://www.wikihow.com/images/thumb/0/05/Refill-an-HP-Ink-Cartridge-Step-1.jpg/v4-728px-Refill-an-HP-Ink-Cartridge-Step-1.jpg.webp" >
        <div class="card-body">
       
          <H5>  Changer encre</H5>
          <a href="https://fr.wikihow.com/remplir-une-cartouche-d%27encre-HP" class="btn btn-primary">Voir Lien</a>
        </div>
      </div>
  </div>
  <div class="row">
    <div class="card mb-3">
        <img class="card-img-top" src="  https://www.wikihow.com/images/thumb/9/9a/Install-and-Update-Drivers-in-Your-PC-Step-10-Version-2.jpg/v4-728px-Install-and-Update-Drivers-in-Your-PC-Step-10-Version-2.jpg.webp" >
        <div class="card-body">
       
          <H5>Installer et mettre à jour les pilotes</H5>
          <a href="https://fr.wikihow.com/installer-et-mettre-%C3%A0-jour-les-pilotes-sur-son-PC" class="btn btn-primary">Voir Lien</a>
        </div>
   
  </div>
  
