<div class="card">
  <div class="card-header">
     Liste des Réclamations
  </div>
  <div class="card-body">

    <p *ngIf="listerec.length <= 0" class="no-data text-center">Pas de réclamtion à afficher</p>

    <!-- Employee list -->
    <table class="table table-bordered" >
      <thead class="table-success">
        <tr>

          <th scope="col">Nom de réclamtion</th>
          <th scope="col">Description</th>
          <th scope="col">Bureau de réclamation</th>
          <th scope="col">Matériels à réparer</th>
          <th scope="col">Status</th>
          <th scope="col">Méthode de réprartion</th>
          <th scope="col">État</th>
          <th scope="col">Liste Réparation</th>

          <th scope="col">Opérations</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rec of listerec; let i = index" [class.active]="i == currentIndex">

          <td>{{rec.title}}</td>
          <td>{{rec.description}}</td>
          <td>{{rec.bureau}}</td>
          <td>{{rec.materiels}}</td>
          <td> {{ rec.published ? "Accépté" : "En attente" }}</td>
          <td>{{rec.methode}}</td>
          <td> {{ rec.etat ? "Répraré" : "Non Réparé" }}</td>
          <td> {{ rec.repara ? "Ajoutée" : "Non Ajouté" }}</td>

          <td class="text-center edit-block" >
            <span class="edit" [routerLink]="['/Modifrecadmin/', rec.id]">
              <button type="button" class="btn btn-success btn-sm">Edit</button>
            </span>
            <span class="edit" [routerLink]="['/Modifrecadmin/', rec.id]">
              <button type="button" class="btn btn-success btn-sm">Assigner Méthode</button>
            </span>
            <span class="edit2" (click)="updateReparatrue(rec, i)">
              <button type="button" class="btn btn-success btn-sm">Ajouter Liste Réparation</button>
            </span>
            <span class="edit2" [routerLink]="['/Modifrecadmin/', rec.id]">
              <button type="button" class="btn btn-secondary btn-sm">Modifier Méthode</button>
            </span>
            <span class="edit2" (click)="updateMethodesupp(rec, i)">
              <button type="button" class="btn btn-danger btn-sm">Supprimer Méthode</button>
            </span>
            <span class="edit2" (click)="updateetattrue(rec, i)">
              <button type="button" class="btn btn-success btn-sm">Réparé</button>
            </span>
            <span class="edit2" (click)="updateetatfalse(rec, i)">
              <button type="button" class="btn btn-secondary btn-sm">Non réparé</button>
            </span>
            <span class="edit3" (click)="updatePublishedtrue(rec, i)">
              <button type="button" class="btn btn-success btn-sm">Accepter</button>
            </span>
            <span class="edit3" (click)="deleterec(rec, i)">
              <button type="button" class="btn btn-danger btn-sm">Réfuser</button>
            </span>

            <span class="delete1" (click)="deleterec(rec, i)">
              <button type="button" class="btn btn-danger btn-sm">Supprimer</button>
            </span>

          </td>
        </tr>

      </tbody>

    </table>

  </div>

</div>

  <!-- No data message -->

