<div class="center-div">
  <div class="col-sm-4">
  <div class="card">
    <div class="card-body register-card-body">
      <p class="login-box-msg"><b>Modifier Réclamation</b></p>


<form [formGroup]="modifRec">

    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Nom de la réclamation" formControlName="title" [(ngModel)]="currentrec.title" />
      <div class="input-group-append">
        <div class="input-group-text">
          <span class="fas fa-user"></span>
        </div>
      </div>
    </div>
    <div class="input-group mb-3">
      <textarea type="text" class="form-control" placeholder="Description de la réclamation" formControlName="description" [(ngModel)]="currentrec.description"></textarea>
      <div class="input-group-append">
        <div class="input-group-text">
          <span class="fas fa-user"></span>
        </div>
      </div>
    </div>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Bureau de la réclamation" formControlName="Bureau"  [(ngModel)]="currentrec.bureau"/>
      <div class="input-group-append">
        <div class="input-group-text">
          <span class="fas fa-user"></span>
        </div>
      </div>
    </div>
    <div class="input-group mb-3">
      <input type="text" min="10000000" max="99999999" class="form-control" placeholder="Matériels" formControlName="materiels"[(ngModel)]="currentrec.materiels"/>
      <div class="input-group-append">
        <div class="input-group-text">
          <span class="fas fa-address-card"></span>
        </div>
      </div>
    </div>
    <div class="input-group mb-3">
      <select class="form-control" formControlName="methode">
        <option value="">Choisir Méthode de Réparation</option>
        <option *ngFor="let methode of methodes" [ngValue]="methode" (change)="changemethode($event)">{{methode}}
        </option>
     </select>
     <div class="input-group-text">
      <span class="fas fa-user"></span>
    </div>
     </div>


    <div class="row">
      <div class="col-8">
        <div class="custom-control custom-checkbox">

        </div>
      </div>
      <!-- /.col -->
      <div class="col-4">
        <button type="submit" (click)="updateRec()" [disabled]="!modifRec.valid"  class="btn btn-primary btn-block btn-flat">
          Modifier
        </button>
      </div>
      <!-- /.col -->
    </div>
  </form>

</div>
</div>
