

<div class="row">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header">
       <b>Gérer Comptes</b>
      </div>
      <div class="card-body">

<button type="button" class="btn btn-primary btn-lg btn-block"[routerLink]="['/Addcmptadmin']">Ajouter Compte</button>
<button type="button" class="btn btn-success btn-lg btn-block"[routerLink]="['/Showcmptadmin']">Consulter Liste Comptes</button>

      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header">
        <b>Gérer Réclamations</b>
       </div>
      <div class="card-body">
        <button type="button" class="btn btn-primary btn-lg btn-block"[routerLink]="['/Addrecadmin']">Ajouter Réclamations</button>
        <button type="button" class="btn btn-success btn-lg btn-block"[routerLink]="['/Showlistrecadmin']">Consulter Liste Réclamations</button>

      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header">
        <b>Gérer Agences</b>
       </div>
      <div class="card-body">
        <button type="button" class="btn btn-primary btn-lg btn-block"[routerLink]="['/Addagadmin']">Ajouter Agence</button>
        <button type="button" class="btn btn-success btn-lg btn-block"[routerLink]="['/Showagadmin']">Consulter Liste Agences</button>

      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header">
        <b>Gérer Processus De Réclamations</b>
       </div>
      <div class="card-body">
        <button type="button" class="btn btn-primary btn-lg btn-block"[routerLink]="['/Showlistrecadmin']">Consulter Liste Réclamations</button>
        <button type="button" class="btn btn-success btn-lg btn-block"[routerLink]="['/Showlistrecnowadmin']">Consulter Liste Réclamations En Cours</button>

      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header">
        <b>Gérer Fournisseurs</b>
       </div>
      <div class="card-body">
        <button type="button" class="btn btn-primary btn-lg btn-block"[routerLink]="['/Addfouradmin']">Ajouter Fournisseur</button>
        <button type="button" class="btn btn-success btn-lg btn-block"[routerLink]="['/Showfouradmin']">Consulter Liste Fournisseurs</button>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header">
        <b>Gérer Matériels</b>
       </div>
      <div class="card-body">
        <button type="button" class="btn btn-primary btn-lg btn-block"[routerLink]="['/Addmatadmin']">Ajouter Matériel</button>
        <button type="button" class="btn btn-success btn-lg btn-block"[routerLink]="['/Showmatadmin']">Consulter Liste Matériels</button>

      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header">
        <b>Gérer Rapport De Réclamations</b>
       </div>
      <div class="card-body">
        <button type="button" class="btn btn-primary btn-lg btn-block"[routerLink]="['/Showraprecadmin']">Consulter Rapport De Réclamations</button>
        <button type="button" class="btn btn-success btn-lg btn-block"[routerLink]="['/Showlistrecnowadmin']">Consulter Liste Réclamations En Cours</button>
      </div>
    </div>
  </div>
</div>
