<div class="login-box">
  <div class="login-logo">

    <img src="../../assets/img/unnamed.png" width="180" height="180">
<br>
    <a [routerLink]="['/login']"><b>ONP</b>2020</a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg"></p>

      <form [formGroup]="loginForm">
        <div class="input-group mb-3">
          <input
            formControlName="email"
            type="text"
            class="form-control"
            placeholder="E-mail"

          />
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input
            formControlName="password"
            type="password"
            class="form-control"
            placeholder="Mot de passe"
          />
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <div class="custom-control custom-checkbox">

            </div>
          </div>
          <!-- /.col -->
          <div class="col6">
            <button
              (click)="logIn()" [disabled]="!loginForm.valid"
              type="submit"
              class="btn btn-danger btn-block btn-flat"
            >
              Connecter</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

    </div>
    <!-- /.login-card-body -->
  </div>
</div>
