

<div class="row">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header">
       <b>Gérer Réclamations</b>
      </div>
      <div class="card-body">
        <button type="button" class="btn btn-primary btn-lg btn-block"[routerLink]="['/Addrecgestr']">Ajouter Réclamation</button>
        <button type="button" class="btn btn-success btn-lg btn-block"[routerLink]="['/Showrecgestr']">Consulter Liste Réclamation</button>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header">
        <b>Gérer Matériels</b>
       </div>
      <div class="card-body">
        <button type="button" class="btn btn-primary btn-lg btn-block"[routerLink]="['/Addmatgestr']">Ajouter Matériel</button>
        <button type="button" class="btn btn-success btn-lg btn-block"[routerLink]="['/Showmatgestr']">Consulter Liste Matériels</button>

      </div>
    </div>
  </div>

</div>
