<div class="center-div">
  <div class="col-sm-4">
  <div class="card">
    <div class="card-body register-card-body">
      <p class="login-box-msg">Ajouter un Fournisseur</p>

      <form [formGroup]="addfourFrom">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Nom du fournisseur" formControlName="title" />
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Adresse du fournisseur" formControlName="adresse" />
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Matricule Fiscale" formControlName="matfisc" />
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="email" class="form-control" placeholder="E-mail" formControlName="email" />
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>

        <div class="input-group mb-3">
          <input type="number" class="form-control" placeholder="Numéro téléphone" formControlName="tel" >
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Représentant" formControlName="responsable" />
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-8">
            <div class="custom-control custom-checkbox">

            </div>
          </div>
          <!-- /.col -->
          <div class="col-4">
            <button type="submit"  (click)="Addfour()"[disabled]="!addfourFrom.valid" class="btn btn-primary btn-block btn-flat">
              Ajouter
            </button>
          </div>
          <!-- /.col -->
        </div>
      </form>

    </div>
  </div>
